node_modules
.next
out
build
.DS_Store

*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

coverage
package-lock.json

terraform/.terraform/
terraform/kubeconfig
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/terraform.tfvars